<li><%= link_to "Inicio", pages_inicio_path  %> </li>

<li><%= link_to "Acerca de Nosotros", pages_about_us_path  %></li>

<li><%= link_to "Preguntas Frecuentes", pages_faq_path  %> </li>

<li><%= link_to "Terminos de Servicio", pages_tos_path  %> </li>

<li><%= link_to "Contactanos", pages_contact_us_path  %> </li>

<li><%= link_to "Login", pages_Login_path  %> </li>